*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  width: 100%;
  background-color: rgb(212, 202, 189);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0 350px; */
}
.text{
  min-height: 70vh;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.preview{
  height: 70vh;
width: 100%;
/* align-items: center; */
display: flex;
flex-direction: column;
/* justify-content: center; */
background-color: white;
padding: 10px 30px;
gap: 30px;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
}
.preview h1{
  font-size: 23px;
}
.preview h3{
  font-size: 17px;
}
.img{
  height: 70vh;
  width: 100%;
}
.image{
  height: 70vh;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.button{
  width: 100%;
  background-color: green;
  border: none;
  padding: 8px;
}
.double{
  /* margin-top: 10px; */
  text-decoration-line: line-through;
}
.price{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  /* margin-right: 150px; */
}
.pricee{
  color: green;
}
.attribution{
  position: absolute;
  top: 100%;
}


@media only screen and (max-width: 950px){
    .text{
      display: flex;
      flex-direction: column;
    }
    .preview{
      border-bottom-left-radius: 20px;
      border-top-right-radius: 0px;
      gap: 20px;

    }
    .preview h1{
      font-size: 4.5vmin;
    }
    .preview h3{
      font-size: 3vmin;
    }
    .image{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    }
    .attribution{
      position: absolute;
      top: 140%;
    }
}